*{
    box-sizing: border-box;   
}
body{
    background-color: rgb(224, 223, 223);
}
.post{
    height: 750px;
    width: 700px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}
.post-header{
    height: 100px;
    display: flex;
    justify-content: center;
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 10px;
}
.main-name{
   font-size: 13px;
   margin-left: 12px;
}

.seting-icon{   
    width: 40px;
    height: 40px;
    margin-left: 440px;
    margin-top: 25px;    
}
.seting-icon 
.logoSeting{
    font-size: 30px;
}
.post-icons
.logoInteractivoIZ{
    margin-top: 15px;
    font-size: 30px;
    margin-left: 10px;
}
.post-icons
.LogoInteractivoDR{
    font-size: 30px;
    margin-left: 500px;
    margin-top: 10px;
}

.post-img{
    height: 400px;
    
}
.imagen{
    height: 100%;
    width: 100%;
}
.post-icons{
    
    height: 50px;
    display: flex;
}
.post-body{
    margin-left: 13px;
    margin-right: 13px;
    height: 186px;
    font-family: Roboto ;
}
.fa-heart:hover{
    content: "\f004"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
